In [56]:
import pandas as pd
import numpy as np
import joblib
import eli5

In [61]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [8]:
 # Load dataset 

 df = pd.read_csv('customer_churn.csv')

In [9]:
#Vectorize into intergers

df.dtypes

Names               object
Age                float64
Total_Purchase     float64
Account_Manager      int64
Years              float64
Num_Sites          float64
Onboard_date        object
Location            object
Company             object
Churn                int64
dtype: object

In [26]:
df.shape

(900, 10)

In [11]:
df.describe()

,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Churn
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,41.816667,10062.824033,0.481111,5.273156,8.587778,0.166667
std,6.127560,2408.644532,0.499921,1.274449,1.764836,0.372885
min,22.000000,100.000000,0.000000,1.000000,3.000000,0.000000
25%,38.000000,8497.122500,0.000000,4.450000,7.000000,0.000000
50%,42.000000,10045.870000,0.000000,5.215000,8.000000,0.000000
75%,46.000000,11760.105000,1.000000,6.110000,10.000000,0.000000
max,65.000000,18026.010000,1.000000,9.150000,14.000000,1.000000

In [12]:
df['Churn'].value_counts().plot(kind='bar')

In [23]:
# def new(series):
#     return series.str.split(' ')[0]

# df['date']= df['Onboard_date'].apply(new)

In [31]:
#onboard_date
#location
df_new= df
# custom function to encode the object dtypes
def generate_dict(data):
    my_dict = {v:k for k, v in enumerate(set(data))}
    return my_dict

d_Onboard_date = generate_dict(df_new['Onboard_date'].unique())
d_location= generate_dict(df_new['Location'].unique())
d_Company= generate_dict(df_new['Company'].unique())

df_new['Onboard_date']= df_new['Onboard_date'].map(d_Onboard_date)

df_new['Location']= df_new['Location'].map(d_location)
df_new['Company']= df_new['Company'].map(d_Company)

In [32]:
df_new.dtypes

Names               object
Age                float64
Total_Purchase     float64
Account_Manager      int64
Years              float64
Num_Sites          float64
Onboard_date         int64
Location             int64
Company              int64
Churn                int64
dtype: object

In [48]:
Xfeatures= df_new[['Total_Purchase', 'Account_Manager', 'Years','Num_Sites', 'Onboard_date', 'Location', 'Company']]


y= df_new[['Churn']]

Xfeatures

,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company
0,11066.80,0,7.22,8.0,309,220,429
1,11916.22,0,6.50,11.0,389,473,781
2,12884.75,0,6.67,12.0,711,391,677
3,8010.76,0,6.71,10.0,164,160,323
4,9191.58,0,5.56,9.0,654,461,701
...,...,...,...,...,...,...,...
895,12800.82,1,3.62,8.0,512,839,98
896,9893.92,0,6.91,7.0,688,619,84
897,12056.18,0,5.46,4.0,577,680,489
898,6517.93,1,5.47,10.0,182,323,264
899,9315.60,1,5.02,10.0,893,409,425

In [49]:
# split dataset

x_train, x_test, y_train, y_test = train_test_split(Xfeatures, y, test_size= 0.33,  random_state= 42)

In [50]:
# build model # Naive bayes

nb = MultinomialNB()

nb.fit(x_train, y_train)

nb.score(x_test, y_test)

0.5925925925925926

In [51]:
# save nb model

nb_customer_churn = open('nb_customer_churn.pkl', 'wb')

joblib.dump(nb, nb_customer_churn)

nb_customer_churn.close()

In [58]:
# Build Logistic model

log_r = LogisticRegression()

log_r.fit(x_train, y_train)

log_r.score(x_test, y_test)

0.8215488215488216

In [54]:
# save log_r model

log_r_customer_churn= open('log_r_customer_churn.pkl', 'wb')

joblib.dump(log_r, log_r_customer_churn)

log_r_customer_churn.close()

0.2532787229502157

In [ ]:
cm= confusion_matrix(x_)

# Interpreting model
- eli5
- Shap
- Lime

In [63]:
eli5.show_weights(log_r)

In [64]:
df_new.columns

Index(['Names', 'Age', 'Total_Purchase', 'Account_Manager', 'Years',
       'Num_Sites', 'Onboard_date', 'Location', 'Company', 'Churn'],
      dtype='object')

In [69]:
feature_names=['Total_Purchase', 'Account_Manager', 'Years','Num_Sites', 'Onboard_date', 'Location', 'Company']

class_names = ['No Churn', 'Churn']

In [70]:
eli5.show_weights(log_r, feature_names= feature_names, target_names= class_names)

In [76]:
# single prediction

x= [x_test.iloc[0]]

log_r.predict(x)

array([0])

In [78]:
eli5.show_prediction(log_r, x_test.iloc[0], feature_names= feature_names, target_names = class_names)